streamlit
pillow==9.5.0
numpy
pandas
matplotlib
scikit-learn
opencv-python-headless
tensorflow
torch
torchvision
torchaudio
gitpython
grpcio
h5py
importlib_metadata
markdown-it-py
mdurl
pygments
rich


